<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/symfony_demo_wishlist/public/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/symfony_demo_wishlist/public/wish/new" class="nav-link">Add new wish</a>
                </li>
            </ul>
        </div>
    </div>
</nav>